<html>
    <head>
        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body>
        <a href = "/login">
            <button>
                LOGIN
            </button>
        </a>
        <a href = "/signup">
            <button>
                SIGNUP
            </button>
        </a>
    </body>
</html>