<html>
    <head>
        <link rel="stylesheet" href="../styles/login.css">
    </head>
    <body>
        <form method="post" action="/login">
            <input placeholder="username" name="username"/>
            <input placeholder="password" name="password" type="password"/>
            <input type="submit" value="submit"/>
        </form>
        <br>
        <a href="/signup">
            <button>or SIGNUP</button>
        </a>
        <% if(error){ %>
            <div><%=error%></div>
        <% } %>
    </body>
</html>